@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

 <p>Dziękuję za rejestrację w sklepie. Został wysłany email na: @Model.Email kliknij w link potwierdzający rejestrację.</p>
 <p>Po aktywacji będzie można przeglądać ofertę sklepu, jednak realizacja i składanie zamówień będzie możliwe dopiero po aktywacji konta przez administratora sklepu.</p>
<p>
        Please check your email to confirm your account.
</p>
    


