
<div class="container row">

    @if (User.IsInRole("Admin"))
    {
        <div class="alert alert-info pt-2" role="alert">
            <p>Wyświetla produkty (obecnie nowe) oraz artykuły z tagiem Informacje </p>
        </div>
    }
    <div class="row m-1 ">
        <div class="col-md-12 col-sm-12 mt-4 border border-4 border-warning rounded rounded-3 position-relative">
            <vc:article-fiskalne number-article="1" tag-name="Informacje" priority="1" />
        </div>
        <div class="row m-2 ">
            <div class="col-12 border-top border-4 border-info position-relative mt-3">
                <span class="badge position-absolute top-0 start-0  translate-middle-y ms-2 text-info bg-white fs-4">Nowe wiadomości w tej kategorii: </span>
            </div>
            <div class="mt-3 row">
                <vc:box-article number="6" tag-name="Informacje" />
            </div>
        </div>
    </div>
    <div class="row m-2 ">
        <div class="col-12 border-top border-4 border-info position-relative mt-3">
            <span class="badge position-absolute top-0 start-0  translate-middle-y ms-2 text-info bg-white fs-4">Nowe produkty w sklepie: </span>
        </div>
        <div class="row m-1 mt-3 ">
            <vc:box-new-items number="4" />
        </div>
    </div>


</div>
