@model SimplyShopMVC.Application.ViewModels.Article.UpdateArticleVm

@{
    ViewData["Title"] = "UpdateArticle";
}

<h1>UpdateArticle</h1>

<h4>NewArticleVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateArticle" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" id="mytextarea" class="form-control">Wpisz tekst</textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="form-label">Wybierz zdjęcie główne</label>
                <input asp-for="Image" class="form-control" type="file" name="Image" id="Image">
            </div>
            <div class="form-group">
                
                    @foreach (var imageUrl in Model.ImageUrl)
                    {
                        <div class="col-auto">
                            <img src="@imageUrl" width="100">
                            <code>@imageUrl</code>
                        </div>
                    }
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


