@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimplyShopMVC.Web</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/customStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimplyShopMVC.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/slick-theme.css">


</head>
<body>
    <header class="container-fluid navbar navbar-expand-lg bd-navbar sticky-top shadow-sm" style="background-color:rgb(111, 66, 193);">





        <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap " style="background-color:rgb(111, 66, 193)">


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="~/media/primehkr24.png" height="42" alt="hkr24.pl - logo" />
            </a>
            <div class="navbar-collapse collapse d-sm-inline-flex">

                <ul class="navbar-nav col-lg-8 flex-grow-1 fs-5 fw-semibold">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <a class="nav-link" asp-area="" asp-controller="Item" asp-action="index">Sklep</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Article" asp-action="index">Informacje</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Article" asp-action="index">Oferta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Article" asp-action="index">Serwis</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" role="button" href="#" data-bs-toggle="dropdown" aria-expanded="false">Panel Administracyjny</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="AddItem">Dodaj Towar</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="ListItemWarehouse">Przyjęcie magazynowe</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="AdminListItem">Lista towarów</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="ListItemTagToUpdate">Edycja tagów towarów</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="ListCategoryToUpdate">Edycja kategorii</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="ListWarehouseToUpdate">Edycja magazynu</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="Article" asp-action="AddArticle">Dodaj informację</a></li>
                                <li><a class="dropdown-item" asp-controller="Article" asp-action="ListArticleTagToUpdate">Edytuj ArticleTag</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" role="button" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dostawy Xml</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Supplier" asp-action="AddIncomItemsXML">Dostawa Incom XML</a></li>
                                <li><a class="dropdown-item" asp-controller="Supplier" asp-action="AddIncomGroupsXML">Dodawanie grup Incom XML</a></li>
                                <li><a class="dropdown-item" asp-controller="Supplier" asp-action="AddGroupItems">łączenie grup ze sklepem</a></li>
                                <li><hr class="dropdown-divider"></li>

                            </ul>
                        </li>

                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light dropdown-toggle" role="button" href="#" data-bs-toggle="dropdown" aria-expanded="false">Panel użytkownika</a>
                        <ul class="dropdown-menu">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li><a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a></li>
                                <li class="nav-item">
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>

            </div>
            @* <div class="navbar-collapse ms-auto">
            <partial name="_LoginPartial" />
            </div>*@
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SimplyShopMVC.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/tinymce/tinymce.js"></script>
    <script src="~/js/slick.js"></script>

    <script>
        tinymce.init({
            selector: '#mytextarea',
            plugins: 'image code lists',
            toolbar: 'image code numlist bullist'
        });
        $(document).ready(function () {
            $('.demo').slick({
                dots: false,
                slidesToShow: 4,
                slidesToScroll: 2,
                arrows: true,
            });
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
