@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HKR24.PL - strona firmowa - sklep</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/customStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimplyShopMVC.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/slick-theme.css">
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.min.css">
    <meta name="google-site-verification" content="sLnO7FGtYfbHCYzIQNk1bFoZLTEelEofybvl_vspkWc" />

</head>
<body>
    <div class="headbody">
        <div class="navigation m-2">
            <div class="d-flex d-inline-block align-items-center justify-content-start flex-fill">
                <a class="navbar-brand" href="#">
                    <img src="~/media/primehkr24.png" height="42" alt="hkr24.pl - logo" />
                </a>
            </div>
            <div class="d-flex d-inline-block align-items-center justify-content-center flex-fill">
                <form class="row g-3 me-5 w-100" asp-controller="Item" asp-action="Index" method="get">
                    <div class="d-flex flex-row input-group border border-secondary rounded-4">
                        <input class="searchInput p-1 rounded-4 col-10" type="text" pattern=".{3,}" name="searchString" placeholder="search...min.3 znaki" aria-label="input search">
                        <div class="input-group-append ms-auto">
                            <button type="submit" id="" class="searchButton col-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
            <div class="">
                <p class="text-dark-emphasis fs-4 fw-bold pt-2 opacity-50">TEL: 880 394 394</p>
            </div>
            <div class="d-flex d-inline-block align-items-center justify-content-end flex-fill">
                <button type="button" class="frameButton" data-bs-toggle="offcanvas" data-bs-target="#contactPanel">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
                        <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5" />
                    </svg>
                </button>
                <div class="d-flex position-relative">
                    <vc:header-cart />
                </div>
                <div class="d-flex position-relative">
                   <partial name="_UserPanel" />
                </div>
            </div>
        </div>
    </div>
    <header class="container-fluid navbar navbar-expand-lg bd-navbar sticky-top shadow-sm" id="elementToToggle" style="background-color:rgb(111, 66, 193);">

        <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap " style="background-color:rgb(111, 66, 193)">


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex">

                <ul class="navbar-nav col-lg-8 flex-grow-1 fs-5 fw-semibold">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Item" asp-action="index"><span class="position-relative">Sklep<span style="font-size:x-small" class="position-absolute p-1 top-0 start-100 translate-middle te badge rounded-pill bg-danger">beta</span></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Article" asp-action="GetInfoArticle">Informacje</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-light dropdown-toggle" role="button" href="#" data-bs-toggle="dropdown" aria-expanded="false">Oferty</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Article" asp-action="GetFiskalneArticle">Urządzenia Fiskalne</a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Article" asp-action="GetSerwisArticle">Serwis</a>
                    </li>
                    <li><a class="nav-link text-warning" asp-controller="Item" asp-action="PcSetViewForUser">Komputery Gaming</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" role="button" href="#" data-bs-toggle="dropdown" aria-expanded="false">Panel Administracyjny</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="AddItem">Dodaj Towar</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="ListItemWarehouse">Przyjęcie magazynowe</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="AdminListItem">Lista towarów</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="ListItemTagToUpdate">Edycja tagów towarów</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="ListCategoryToUpdate">Edycja kategorii</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="ListWarehouseToUpdate">Edycja magazynu</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="GroupItem">Edycja grup towarowych</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="DeliverySettings">Edycja dostaw</a></li>
                                <li><a class="dropdown-item" asp-controller="Item" asp-action="AdminViewPcSet">Edycja zestawów PC</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-item dropdown-toggle" href="#" id="nestedDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Ustawienia
                                    </a>
                                    <ul class="dropdown" aria-labelledby="nestedDropdown">
                                        <li><a class="dropdown-item" asp-controller="Shop" asp-action="UserSettings">Użytkownicy</a></li>
                                    </ul>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="Article" asp-action="AddArticle">Dodaj informację</a></li>
                                <li><a class="dropdown-item" asp-controller="Article" asp-action="AdminListArticle">Lista artykułów</a></li>
                                <li><a class="dropdown-item" asp-controller="Article" asp-action="ListArticleTagToUpdate">Edytuj ArticleTag</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="CompanySettings">Dane firmy</a></li>
                                <li><a class="dropdown-item" asp-controller="Shop" asp-action="GetOrderForAdmin">Zamówienia</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" role="button" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dostawy Xml</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Supplier" asp-action="AddnewIncomXML">nowy Incom XML - beta</a></li>
                                <li><a class="dropdown-item" asp-controller="Supplier" asp-action="AddIncomItemsXML">Dostawa Incom XML</a></li>
                                <li><a class="dropdown-item" asp-controller="Supplier" asp-action="AddIncomGroupsXML">Dodawanie grup Incom XML</a></li>
                                <li><a class="dropdown-item" asp-controller="Supplier" asp-action="AddGroupItems">łączenie grup ze sklepem</a></li>
                                <li><a class="dropdown-item" asp-controller="Supplier" asp-action="ConnectCategoryWithSupplierGroup">łączenie grup z kategoriami</a></li>
                                <li><hr class="dropdown-divider"></li>

                            </ul>
                        </li>

                    }         
                </ul>

            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="contactPanel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Dane kontaktowe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <p class="text-center h1 fs-3">PUH HKR Jarosław Jaśkiewicz</p>
                    <p class="text-center">Ul. Kręta 22c , 78-520 Złocieniec</p>
                    <ul>
                        <li>Telefon: 880 394 394</li>
                        <li>Email: info@hkr.net.pl</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" id="footer">
            &copy; @DateTime.Now.Year - HKR24.PL - v1.16 (02-09-2024) <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery-3.7.1.min.js"></script>
    <script src="~/lib/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/tinymce/tinymce.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="privacy-police-info" style="display:none">
        Serwis wykorzystuje pliki cookies. Korzystając ze strony wyrażasz zgodę na wykorzystanie plików cookies.
        <button onclick="closePrivacyPolice()" type="button" class="btn btn-light mx-3 my-1 privacy-police-btn">
            Ok, rozumiem.
        </button>
    </div>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            plugins: 'image code lists table',
            toolbar: 'image code numlist bullist'
        });
        $(document).ready(function () {
            $('.demo').slick({
                dots: false,
                slidesToShow: 4,
                slidesToScroll: 2,
                arrows: true,
            });
        });
        $(document).ready(function () {
            var scrollThreshold = 200;
            $(window).scroll(function () {
                var scrollPosition = $(this).scrollTop();
                if (scrollPosition > scrollThreshold) {
                    $('#elementToToggle').removeClass("opacity-100");
                    $('#elementToToggle').addClass("opacity-0");
                } else {
                    $('#elementToToggle').removeClass("opacity-0");
                    $('#elementToToggle').addClass("opacity-100");
                }
                scrollThreshold = scrollPosition;
            });
        });
        $(document).ready(function () {
            if ($.cookie("privacyPolice") !== "1")
                $(".privacy-police-info").show();
        });
        function closePrivacyPolice() {
            $(".privacy-police-info").hide();
            $.cookie("privacyPolice", "1", { path: '/', expires: 365 });
        };
        $(document).ready(function () {
            $('[id ^= "modal-description-btn-"]').on('click', function () {
                var itemId = $(this).attr('id').split('-')[3];
                $('#modal-description-' + itemId).modal('show');
            });
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
