html {
    font-size: 14px;
}

.headbody {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.navigation {
    display: flex;
    width: 1270px;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0,5px,15px rgba(0,0,0,0.1);
}

    .navigation ul {
        display: flex;
    }

        .navigation ul li {
            list-style: none;
            position: relative;
            align-items: center;
        }

            .navigation ul li a .icon {
                position: relative;
                display: flex;
                align-items: center;
                color: gray;
            }

            .navigation ul li a span svg {
                width: 37px;
                height: 37px
            }

    .navigation svg {
        color: gray;
    }

    .navigation ul li button svg:hover {
    }

.frameButton {
    background-color: white;
    border: none;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px 4px 1px;
    cursor: pointer;
}

    .frameButton:hover {
        background-color: white;
        outline: 3px solid #e7e7e7;
        color: white;
        padding: 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 20px 4px 1px;
        cursor: pointer;
    }

    .frameButton:active {
        background-color: white;
        outline: 5px solid #e7e7e7;
        color: white;
        padding: 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 20px 4px 1px;
        cursor: pointer;
    }
    .searchInput{
        border:none;
    }
    .searchInput:focus{
        border:none;
        outline:none;
    }

.searchButton {
    background-color: white;
    border: none;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px 4px 1px;
    cursor: pointer;
}

    .searchButton:hover {
        background-color: white;
        border: none;
        color: white;
        padding: 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 10px 4px 1px;
        cursor: pointer;
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.row {
    background-color: white;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

    .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
    }

.text-container {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Ogranicz do 2 linijek */
    overflow: hidden;
}

.text-OneLine {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Ogranicz do 2 linijek */
    overflow: hidden;
}

.horizontal-list li {
    
    display: inline-block;
    margin-right: 10px;
}
.privacy-police-info {
    font-size:12px;
    position: fixed;
    bottom: 0px;
    background-color: #464646;
    width:100%;
    color: lightgray;
    text-align: center;
    padding: 5px 0;
}
.privacy-police-btn{
    font-size: 10px
}
.btn-link {
    text-decoration: none;
    color:black;
}
.cartDropDown {
    z-index: 1501;
    transform: translateX(0%) !important;
}
.biHover:hover {
    color: black;
   font-weight:bold;
   background-color: white;
}
.svghover:hover {
    color: red;
}
